body {
    padding-top: 30px
}
.range {
    width: 500px;
    position: relative;
    margin-bottom: 10px;
    padding: 30px 0;
}
.range__events {
    z-index: 1;
    background: black;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.range__bar {
    background: red;
    height: 5px;
    width: 100%;
    display: block;
}
.range__handle {
    position: absolute;
    top: 22px;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: black;
    opacity: .2;
}
.range__handle.active {
    opacity: 1;
}
