body {
    padding-top: 30px
}

.range {
    width: 500px;
    position: relative;
    margin-bottom: 10px;
    padding: 30px 0;
    user-select: none;
    cursor: pointer;
}

.range__bar {
    background: red;
    height: 5px;
    width: 100%;
    border-radius: 8px;
}

.range__handle {
    position: absolute;
    top: calc(50% - 8px);
    left: 0;
    width: 16px;
    height: 16px;
    display: block;
    background: grey;
    border-radius: 50%;
}

.range__handle.active {
    background: black;
}
